.counter {
    background: var(--card-bg);
}


.light-theme .counter {
    background: var(--primary-color);
}

.counter__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter__item {
    width: 33%;
    text-align: center;
}

.counter__number, .counter__title {
    background: var(--counter-color);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.counter__number {
    font-size: 2.5rem;
}


.counter__title {
    font-size: 1.25rem;
}