.hero__section{
    overflow: hidden;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hero__img, .hero__content {
    width: 50%;
}

.hero__img img {
    width: 100%;
}

.hero__content h2 {
    font-size: 3rem;
}

.hero__content p {
    margin-top: 40px;
    font-size: 1.1rem;
}

.highlight {
    color: var(--primary-color);
}

.hero__btns {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.primary__btn, .secondary__btn {
    padding: .6rem 1.5rem;
    border: none;
    outline: none;
    border-radius: .2rem;
    cursor: pointer;
}

.primary__btn:hover {
    background: var(--background-color);
    color: var(--text-color)
}
.secondary__btn:hover {
    background: var(--primary-color);
    color: white;
}

.primary__btn {
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.secondary__btn {
    background: var(--background-color);
    color: var(--text-color);
    border: 1px solid rgb(218, 218, 218);
}

@media only screen and (max-width:992px) {    
    .hero__content h2{
        font-size: 2rem;
        line-height: 50px;
    }

    .hero__content p {
        margin-top: 10px;
        line-height: 25px;
    }
    .hero__btns {
        margin-top: 20px;
    }
}

@media only screen and (max-width:768px) {
    .hero__content h2{
        font-size: 1.5rem;
        line-height: 35px;
    }

    .hero__content p{
        font-size: .8rem;
    }

    .primary__btn, .secondary__btn {
        font-size: .7rem;
    }
    
}

@media only screen and (max-width:600px) {
    .hero__wrapper {
        flex-direction: column-reverse;
    }
    .hero__content h2 {
        text-align: center;
        font-size: 2rem;
    }
    .hero__content, .hero__img {
        width: 100%;
    }
    .hero__btns {
        justify-content: center;
    }
    .hero__content p {
        margin-top: 20px;
    }
}