.newsletter {
    background: var(--card-bg);
    margin-top: 60px;
}

.light-theme .newsletter {
    background: #f9f9f9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.newsletter__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter__form {
    padding: .4em 1rem;
    background: white;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 38%;
}

.email-input {
    border: none;
    outline: none;
    width: 70%;
}