.our__team {
    padding-top: 0;
}

.team__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team__content {
    text-align: center;
    margin-bottom: 50px;
}

.team__item {
    width: 23%;
    background: var(--card-bg);
    border-radius: 10px;
}

.light-theme .team__item {
    background: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.team__img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    background: white;
    overflow: hidden;
}

.light-theme .team__img{
    background: #f5f5f5;
}

.team__img img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    transform: scale(1.4);
}

.team__details {
    padding: 20px 15px;
}

.team__details h4 {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.2rem;
}

.team__member-social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.team__member-social span  i{
    color: var(--primary-color);
    cursor: pointer;
}

.team__member-social span  i:hover{
    color: var(--primary-color);
}

@media only screen and (max-width:992px) {
    .team__wrapper{
        flex-wrap: wrap;
        align-items: stretch;
        row-gap: 1rem;
    }
    .team__item{
        width: 49%;
    }
}