.about__wrapper {
    display: flex;
    column-gap: 2rem;
}

.about__content, .about__img {
    width: 50%;
}

.about__img img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: .75rem;
}

.about__content-desc {
    margin-top: 30px;
}

.choose__us-item-wrapper {
    margin-top: 20px;
}

.choose__us-item {
    display: flex;
    column-gap: 1.5rem;
    margin-top: 45px;
}

.choose__us-icon {
    width: 50px;
    height: 60px;
    padding-inline: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.choose__us-icon i {
    color: var(--primary-color);
    font-size: 2rem;
}

.choose__us-title {
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 10px;
}

.choose__us-description {
    line-height: 25px;
}

@media only screen and (max-width:992px) {
    .about__wrapper {
        align-items: center;
    }
    .about__content h2 {
        font-size: 1.5rem;
    }
    .about__content-desc {
        margin-top: 10px;
        line-height: 25px;
    }
    .choose__us-item {
        margin-top: 30px;
    }
    .choose__us-icon i{
        font-size: 1.5rem;
    }
    .choose__us-icon {
        padding-inline: 10px;
        height: 40px;
    }
}

@media only screen and (max-width:768px) {
    .about__wrapper {
        flex-direction: column;
        gap: 2rem;
    }
    .about__content-desc {
        margin-top: 30px;
        line-height: 25px;
    }
    .about__content, .about__img {
        width: 100%;
    }

    .about__img{
        height: 400px;
    }

    .about__img img{
        object-position: 50% 40%;
    }

    .about__content h2, h6 {
        text-align: center;
    }
}