.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    list-style: none;
}

.menu__link {
    font-weight: 600;
    font-size: .9rem;
    cursor: pointer;
}

.menu__link:hover {
    color: var(--primary-color);
}

.light__mode button {
    border: none;
    outline: none;
    background: var(--background-color);
    border-radius: .2rem;
    border: 1px solid rgba(255,255,255,0.1);
    padding: .3rem .5rem;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: .8rem;
    cursor: pointer;
}

.light__mode button:hover {
    background: var(--primary-color);
}

.header__shrink {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}