.light-theme .blog {
    
}

.blog__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blog__top-content {
    text-align: center;
    margin-bottom: 50px;
}

.blog__item {
    width: 30%;
    padding: 25px 20px;
    background: var(--card-bg);
    border-radius: .5rem;
}

.light-theme .blog__item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: white;
}

.blog__item:nth-child(2) {
    width: 35%;
}

.blog__img {
    margin-bottom: 20px;
    height: 220px;
    display: flex;
}

.blog__img img {
    width: 100%;
    align-items: center;
    justify-items: center;
    object-fit: contain;
}

.blog__item h3 {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.blog__item h4{
    color: var(--primary-color);
}

.post__description {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.learn__more {
    text-align: end;
}

.learn__more a{
    font-size: .85rem;
    color: var(--primary-color);
    cursor: pointer;
}

.learn__more a:hover {
    color: var(--text-color);
}

