.slider__content-top {
    text-align: center;
    margin-bottom: 50px;
}

.slider__wrapper {
    width: 85%;
    margin: auto;
}

.slider__item {
    background: var(--card-bg);
    padding: 25px 30px;
    border-radius: .5rem;
    margin-inline: .25rem;
    height: 100%;
}

.light-theme .slider__item {
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 1px inset;
}

.slider__item .description {
    min-height: 180px;
}

.customer__details {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 1rem;
}

.customer__details p {
    margin: 0;
}

.customer__img{
    width: 60px;
    height: 60px;
}

.customer__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.customer__name {
    font-size: 1.25rem;
    color: var(--primary-color);
}

.customer__position {
    color: var(--text-color);
    font-size: .8rem;
}

@media only screen and (max-width:992px) {
    .slider__item .description {
        min-height: 240px;
    }
    .customer__name {
        font-size: 1rem;
    }
    .customer__img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width:600px) {
    .slider__item .description {
        line-height: 20px;
    }
}