@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary-color: rgb(55 156 246);
  --background-color: #0d1117;
  --counter-color: linear-gradient(
    90deg,
    rgb(60, 153, 196) 15%,
    rgba(29, 129, 176, 1) 40%,
    rgb(23, 79, 158) 70%
  );
  --card-bg: linear-gradient(
    45deg,
    rgba(15, 18, 61, 1) 23%,
    rgba(15, 18, 61, 1) 35%,
    rgba(11, 41, 69, 1) 80%
  );
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: white;
  font-size: 2rem;
}

section {
  padding: 70px 0px;
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

.description {
  color: white;
  line-height: 30px;
  font-size: .9rem;
}

.subtitle {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 20px;
}